@import url('https://fonts.googleapis.com/css?family=Work+Sans:400,600');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'JetBrains Mono', monospace;
 
}
body{
    background-color: black;
    min-width: 700px;
    height: auto;
}
header{  
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.6s;
    padding: 2% 2%;
    z-index: 2;
    font-size: 90%;
}
header.sticky
{
    padding: 0.5% 7%;
    background: #fff;
}
header .logo{
    position: relative;
    font-weight: 700;
    color: #fff;
    text-decoration: none;
    font-size: 175%;
    text-transform: uppercase;
    letter-spacing: 2%;
    transition: 0.6s;
}
header ul{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
header ul li{
    position: relative;
    list-style: none;
}
header ul li a{
    position: relative;
    margin: 0 15px;
    text-decoration: none;
    color: #fff;
    font-size: 125%;
    font-weight: 600;
    transition: 0.6s;
    text-align: center;
    cursor: pointer;
}
.baner{
    position: relative;
    width: 100%;
    height: 100vh;
    background: url("tlo2.jpg");
    background-size: cover;
    background-position: center;
    -webkit-box-shadow: inset 0px -50px 21px -6px #000000; 
    box-shadow: inset 0px -50px 21px -6px #000000;
}
header.sticky ul li a{
    cursor: pointer;
    color: #000;
} 
header.sticky .logo{
    color: #000;
}

#welcome{
    
    width: 100%;
    color: #fff;
    font-weight: 700;
    font-size: 700%;
    text-align: center;
    text-transform: uppercase;
}
.welco h2{
    position: absolute;
    left: 50%;
    top: 52%;
    transform: translate(-50%, -50%);
}
#wel{
    color: #fff;
    font-weight: 700;
    font-size: 300%;
    text-transform: uppercase;
    text-align: center;
}
::-webkit-scrollbar {
    width: 6px;
    }
    ::-webkit-scrollbar-track {
    border-left: 1px solid #000;
    }
    ::-webkit-scrollbar-thumb {
    background: #fff;
      -webkit-box-shadow: inset 0 0 6px #fff;
    }
    ::-webkit-scrollbar-thumb:hover {
    background: #fff;
      -webkit-box-shadow: inset 0 0 6px #fff;
    }
    ::-webkit-scrollbar-thumb:window-inactive {
    background: #fff;
    } 
  .frame{
      width: 100%;
      height: auto;
      text-align:center;
      background-color: #fff;
      border-top: 2px solid #444;
      border-bottom: 2px solid #444;
      display: inline-flex;
      justify-content: space-around;
      
  }
.form{
    text-align: center;
    width: 100%;
    min-height: 100vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url("2.jpg");
    background-size: cover;
    background-repeat: none;
    background-position: bottom;
    
}
#nad{
    width: 80%;
    display: inline-flex;
    justify-content: space-around;
}
.input{
    display: inline;
    width: 50%;
}
.tex{
    height: 4vh;
    width: 100%;
    margin-top: 2%;
    margin-bottom: 10%;
    background-color: black;
    border:none;
    border-bottom: 2px solid white;
    color: white;
    
}
.tex :focus{
    background-color: pink;
}

.form textarea{
    width: 90%;
    height: 25vh;
    resize: none;
    background-color: black;
    border: 1px solid white;
    border-radius: 1%;
    color: white;
}
#napisz{
    font-weight: 700;
    font-size: 250%;
    color: #fff;
    text-transform: uppercase;
}
#fo{
    
    width: 50%;
}
.form button{
    margin-top: 2%;
    width: 10%;
    height: 3vh;   
    font-weight: 700;
    text-transform: uppercase;
    border: 1px solid white;
  
}
.form button:active{
    background-color: black;
    color: white;
}
footer{
    background-color: #fff;
    text-align: center;
    bottom: 0;
    width: 100%;
    -webkit-box-shadow: inset 0px 7px 15px 5px rgba(0,0,0,0.57); 
box-shadow: inset 0px 7px 15px 5px rgba(0,0,0,0.57);
}
footer p{
    font-weight: 700;
    font-size: 120%;
    padding: 0;
    margin: auto;
    border-top: 3px black solid;
}
::placeholder { 
    color: white;
    opacity: 1; 
  }
.omnie{
    width: 100%;
    min-height: 100vh;
    color: white;
    position: relative;
    display: flex;
    align-items: center;
    background: url("red.jpg");
    background-position: left center;
    background-repeat:no-repeat;
    background-size: small;
}
.opis{
    position: absolute;
    top: 25%;
    width: 60%;
    left: 30%;
    padding: 5%;
    border: 1px solid white
}
#opis{
    text-align: center;
    line-height: 1.5em;
    
}
.tytul{
    position: absolute;
    top: 21%;
    width: 10%;
    left: 25%;
    font-size: 120%;
    text-align: center;
    font-weight: 700;
    text-transform: uppercase;
    padding: 2%;
    color: black;
    z-index: 1;
    background: #fff;
}
.link{
    width: 100%;
    min-height: 100vh;
    background: url("12.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    position: relative;
}
#umie, #linke{
    left: 1.5%;
    width: 49%;
    min-height: 80vh;
    float: left;
    color: white;
    position: relative;
    text-align: center;
}
#lo{
    text-align: center;
    font-weight: 700;
    font-size: 200%;
    color: white;
    text-transform: uppercase;
    margin-bottom: 5%;
    margin-top: 10%;
}
.obraz img{
    position: relative;
    left: 28%;
    width: 45%;
}
.obraz{
    width: 50%;
    float: left;
}
.obraz p{
    color: white;
    text-align: center;
    font-weight: 600;
    font-size: 200%;
    text-transform: uppercase;
    margin-bottom: 10%;
}
.dis{
    position: relative;
    left: 25%;
    float: none;
}
.sql{
    margin-top: 20%;
}
#przy{
    width: 100%;
    padding-top: 50%;
    height: 30vh;
    padding-bottom: 50%;
    background: none;
    border: none;
}
#d{
    position: relative;
    display: flex;
    align-items:flex-end;
    width: 10%;
    min-height: 65vh;
    float: left;

}
